body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin: 0;
}
img {
    width: 100%;
}

.contenedor {
    height: 100vh;
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid: 100px auto 100px / repeat(4, 25%);
    /*Lo podemos poner como gri-column en cada seccion
    ejemplo
    .header{
    grid-column: 1/5;
    }

    */
    grid-template-areas: "header header header header"
    "principal principal principal sidebar"
    ". footer footer .";
    /*para hacer margin entre ellos*/
    grid-gap: 1rem;
}

.header {
    background-color: coral;
    color: white;
    text-align: center;
    grid-area: header;
    /*
    esto es lo mismo que
    grid-column: 1 / 5;*/

}

.contenido-principal {
    background-color: darkred;
    /*grid-column: 1 / 4;*/
    grid-area: principal;
}
.sidebar {
    background-color: olive;
    grid-area: sidebar;
}
.footer {
    background-color: navy;
    grid-area: footer;
}



.contenedor-media {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-areas: "titulo titulo titulo titulo"
    "imagen desc desc desc";
    grid-gap: 1rem;
    grid-template-columns: 33.3% 66.0%;
}


.titulo {
  grid-area: titulo;
}
.descripcion{
  grid-area: desc;
}
.slogan {
}

.imagen {
  grid-area: imagen;
}
.info {
}
.entrada {
}
